<div class="card" style="width: 18rem; margin: 10px;">
  <div class="card-body">
    <h5 class="card-title"><%= product.name %></h5>
    <p class="card-text"><%= product.description %></p>
    <%= link_to "Edit", edit_product_path(product), class: "btn btn-primary" %>
    <%= link_to "Delete", product_path(product), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
  </div>
  <div class="card-footer d-flex justify-content-between">
    <span class="card-price"><%= product.price %></span>
  </div>
</div>
